@font-face {
    font-display: swap;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibm-plex-sans-v19-latin-regular.woff2') format('woff2');
  }

ul {
    list-style-type: none; /* Убирает точки */
    padding-left: 0; /* Убирает отступ слева, если нужно */
}

*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h2{
    font-size: 52px;
}

html {
    text-align: center;
    color: #FDF4E3;
    text-decoration: none;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-center{
    text-align: center;
    color: #FDF4E3;
    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: linear-gradient(#222222, #442D25);
}

/*header*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.header-nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 40px;
    height: 100px;
}

.nav-link{
    color: #FDF4E3;
    text-decoration: none;
    font-size: 22px;
}

.nav-item {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

/*menu*/
.section-menu{
    display: flex;
    justify-content: center;
}

.section-menu-list{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.section-menu-item{
    width: fit-content;
    height: fit-content;
    max-width: 360px;
    flex: 1 1 25%;
    outline: 3px solid #442D25;
    border-radius: 20px;
    color: #442D25;
    background-color: #FDF4E3;
}

.section-menu-item-description{
    text-align: left;
}


.item-desc{
    margin: 20px;
    text-align: left;
}
.item-lower-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-to-menu *{
    display: inline-block;
}

.link-to-menu{
    text-decoration: none;
    color: #000000; 
}
.item-price{
    display: inline-block;
    float: right;
}

/*footer*/

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.footer-left{
    width: 204px;
    height: 50px;
    margin-left: 83px;
}

.footer-nav{
    display: flex;
    align-items: center;
}

.footer-social-list{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
}

.footer-contacts-list{
    height: 100px;
    width: 400px;
    margin-right: 50px;
    text-align: left;
    font-size: 15px;
    white-space: nowrap;
    line-height: 1.5;
}